body{

background-color:#ffffcc;
text-color: #330000;
font-family: Verdana,Helvetica,Arial,sans-serif;
}

nav{
text-align:center;
float:
}
header
{
text-align:center;
background-color: #ccaa66;
margin:0;
text-color:#000000;
}
left{
float:left;
width:100px;
text-align:center;
margin:0;
}
footer
{
background-color #ccaa66;
text-color: #000000;
font-size: .60em;
font-style:italic;
text-align:center;
}
wrapper{
text-align:center;
margin-right:auto;
margin-left:auto;
}
details
{
}
a:link{

                color:#666666;

                background-color: #95b7cd;

                text-decoration:none;

}

a:hover{

                background-color:#aaddee;

}

a:visited{

                color:#666666;

                background-color:#95b7cd;

                text-decoration:line-through;

}

a:active{

                background-color:#3cc7f0;