 header, nav, main, footer, figure, figcaption { 
              display: block; 
          }
          
          body { 
              font-family:Verdana, Arial, sans-serif;
              background-color: #00005D;
          }
          
          #wrapper { 
              background-color: #b3c7e6; 
              color: #000066;
              width: 80%;
              margin: auto;
          } 
          
          header { 
              background-color: #869dc7;
              color: #00005D; 
              font-size: 150%; 
              padding: 5px 20px 20px;
          }
          
          h1 { 
              margin-bottom: 0; 
          }
          
          #tag { 
              padding-right: 20px;
              font-size: .80em;
              font-style: italic;
              text-align: right;
              color: #00005D;
          }	        
          
          h2 { 
              color: #869dc7; 
              font-family: arial, sans-serif;
              font-size: 200%;
          }
          
          nav { 
              float: left;
              width: 150px;
              letter-spacing:0.1em;
              font-weight: bold;
              background-color: #b3c7e6;
          } 
          
          nav ul { 
              list-style-type: none; 
              margin: 0;
              padding: 0;
          }
          
          nav li { 
              padding: 15px;
          }
          
          nav a { 
              text-decoration: none; 
          }
          
          nav a:link { 
              color: #ffffff; 
          }
          
          nav a:visited { 
              color: #ffffff; 
          }
          
          nav a:hover {  
              color: #869dc7;
          }
          
          main { 
              margin-left: 155px;
              padding: 20px; 
              background-color: #ffffff;
              color: #000000;
          }
          
          figure { 
              margin: 10px;
              float: right;
          }
          
          figcaption { 
              font-size: 80%;
              font-style: italic;
              text-align: center;
          }
          
          footer { 
              font-size:70%;
              text-align: center;
              clear: right;
              padding: 20px;
              background-color: #869dc7;
          }
          
          /** Additional rules if the device width is small -- mobile */
          @media only screen and (max-width: 786px) {
			nav
			{
			float:none;
			width:100%;
			text-align:center;
			}
			li a
			{
			display:block;
			color:0000ff;
			text-decoration:none;
			}
			li{
			border: 1px solid #0000ff;
			}
			main{
			margin-left:0;
			}
			li:last-child{
			border-bottom:none;
			}
		
			figure{
			text-align:center;
			float:none;
			}
			body{
			margin:0;
		
			}
			#wrapper{
				width:100%;
			}
          }
          