p
{
font-family:Georgia,"Times New Roman",serif;
font-size: .90em;
font-style: italic; 
font-weight: bold;
line-height:200%;
text-align:right;
color:#191970;
}
body
{
background-color:#2E4172;//triadic
}
ul
{
list-style-type:circle;
 text-decoration:underline;
text-transform:uppercase; 
}
